#search {
    outline: 0;
    border-width: 0 0 2px;
    width:50%;
  }
.col-md-6{
    display: flex;
  }
  input:focus {
      border:none;
    border-color: blue;
  }
  span{
      float:left;
  }
  
  nav a { 
    list-style-type: none; 
    text-decoration:none;
    padding :10px;
    height:50px;
    width:50px;
}
    a{
        text-decoration:none;
        color:grey;
    }
    
      

    li{
        display:inline;
        width:50px;
        
    }
    .main-navigation:hover{
        width:110px;
    }
    .main-navigation {
        overflow-y: hidden;
        position:absolute;
        width:70px;
        padding:20px;
        height:100%;
        margin: 0 20px 20px 20px; 
        float:left;
        border-right: 2px solid #F0F0F0	 ;
        }
        .main-navigation li{
            padding:10px;
        }
        
        .head>#logo{
        height: 50px;
        }
        .books{
            display:inline-block;
            width:100%;
            margin-top: 20px
        }
        .books>button{
        margin-top: 20px;
        margin-bottom: 10px;
        height:50px;
        color:white;
        font-size:bold;
        border-radius:5px;;
        }
        
        .content{

            padding-bottom: 20px;
            padding-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
        height:100%;
        }
     
       
 