#search {
    outline: 0;
    border-width: 0 0 2px;
    width:50%;
  }
.col-md-6{
    display: flex;
  }
  input:focus {
      border:none;
    border-color: blue;
  }
  span{
      float:left;
  }
  nav ul { 
    list-style-type: none; 
    text-decoration:none;
    padding :0;
    height:50px;
    width:50px;
}
    a{
        text-decoration:none;
        color:grey;
    }
     .main-navigation:hover{
       background-color: darkcyan;
       width:100px;
     }
      
    li{
        display:inline;
        width:50px;
    }
    .main-navigation {
        position:absolute;
        margin-left:5px;
        }
        .main-navigation li{
            padding:10px;
        }
        .main-navigation{
            float:left;
        }
        .head>#logo{
        height: 50px;
        }
        .books{
            display:inline-block;
            width:100%;
            margin-top: 20px
        }
        .books>button{
        margin-top: 20px;
        margin-bottom: 10px;
        height:50px;
        color:white;
        font-size:bold;
        border-radius:5px;;
        }
        
        .content{
            margin-left: 50px;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
            border-left: 2px solid #F0F0F0	 ;
        height:100%;
        }
    
    