<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atom</title>
  
	<link rel="icon" href="autologo.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div class="contanier-fluid">
    <div class="row">
  <div class="col-md-1">
 <div class="page">
  
  <div class="main-navigation">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
  </button>
    <nav class="nav nav-pills flex-column collapse navbar-collapse" id="navbarNav">
        <a href="#" class="nav-item nav-link">Menu</a>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Content</a>
            <div class="dropdown-menu">
             
                <a href="#" class="dropdown-item"></a>
                <a href="#" class="dropdown-item"></a>
                <a href="#" class="dropdown-item"></a>
              
            </div>
        </div>
        <a href="#" class="nav-item nav-link">Courses</a>
    </nav>
</div>
  
</div>
  </div>
<div class="col-md-10">



<div id="content" class="content">
  
  <div class="head">
    <img  class="pull=left" id="logo" src="assets/logoatom.png" alt="atom">
 </div>
 

 <div class="row">
   <div class="col-md-12">
  <div class="books">
    <h2 class="pull-left" style="font-weight:bold;">Books</h2>
    <button class="btb btn-primary pull-right" routerLink="/createbook">Create new book</button>
    
  </div>
</div>
</div>
<!-- <div class="row">
  <div class="col-lg-12">
    <app-book></app-book>
  </div>
</div> -->


<form>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                </div>
                <input type="text" class="form-control" name="booksearch" placeholder="Search" [(ngModel)]="booksearch">
            </div>
        </div>
        
      </div>
</form>



<app-book-list [bsearch]="booksearch"></app-book-list>
</div>
</div>
</div>
</div>

</body>
</html>


 