<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Atom</title>
  
	<link rel="icon" href="autologo.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid">
 <div>
<nav class="main-navigation">
    <ul>
     <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
     <li><a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i></a></li>
     <li><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
    </ul> 
  
</nav>
</div>
<div class="content">
  
  <div class="head">
    <img  class="pull=left" id="logo" src="assets/logoatom.png" alt="atom">
 </div>
 

 <div class="row">
   <div class="col-md-12">
  <div class="books">
    <h2 class="pull-left" style="font-weight:bold;">Books</h2>
    <button class="btb btn-primary pull-right">Create new book</button>
  </div>
</div>
</div>
<!-- <div class="row">
  <div class="col-lg-12">
    <app-book></app-book>
  </div>
</div> -->
<app-book-list></app-book-list>
</div>


</div>
</body>
</html>
